
services:
 php:
   build: .
   ports:
     - "8080:80"
   volumes:
      - ./src:/var/www/html
   depends_on:
     - mysql
 mysql:
  image: mysql:latest
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: luminalib
    MYSQL_USER: user
    MYSQL_PASSWORD: abd123
  volumes:
    - mysql_data:/var/lib/mysql
volumes:
 mysql_data: